@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: white;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --color: black;
    --github: #24292e;
    --github-hover: #555555;
    --google: #1f4ed6;
    --google-hover: #4285f4;
    --secondary-color: #e7e7e7;
    --hover: #292929;

    --gray: #888888;
    --highlight: #ff0080;
    --warning: #f5a623;

    --gradient: linear-gradient(to bottom, #FFFFFF, rgb(229 229 229) , #FFFFFF);
  }
 
  .dark {
    --background: black;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    
    --color: white;
    --accent-1: #111;
    --success: #0761d1;
    --violet: #4c2889;
    --cyan: #29bc9b;

    --gray: #888888;
    --highlight: #ff0080;
    --highlight-accent: #ffc6ec;
    --warning: #f5a623;

    --primary-color: #5c5c5c;
    --secondary-color: #242424;
    --accent-color: #8a8a8a;
    --secondary-background-color: #080808;
    --background-color1: #0F0F0F;


    --gradient: linear-gradient(to bottom, #000000, #141415 , #000000);
    --gradient2: linear-gradient(to bottom, #c50054, #ff0080 , #c50054);
  }
  
}

.hovered_text:focus,
.hovered_text:hover {
  color: var(--color);
}

.hovered_text:focus:after,
.hovered_text:hover:after {
  width: 100%;
  left: 0%;
}

.hovered_text:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.background-animate {
  background-size: 200%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s infinite;

}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.button {
  @apply text-base relative text-[#f0f0f0] z-[1] px-5 py-[15px] border-[none] before:translate-x-[0%] before:translate-y-[0%] before:w-full before:h-full before:rounded-[10px] after:translate-x-2.5 after:translate-y-2.5 after:w-[35px] after:h-[35px] after:backdrop-blur-[5px] after:rounded-[50px] hover:before:translate-x-[5%] hover:before:translate-y-[20%] hover:before:w-[110%] hover:before:h-[110%] hover:after:translate-x-0 hover:after:translate-y-0 hover:after:w-full hover:after:h-full hover:after:rounded-[10px] active:after:transition-[0s] active:after:translate-x-0 active:after:translate-y-[5%];
  background: transparent;
  /* font-family: JetBrains Mono, monospace; */
}
.button::after,
.button::before {
  @apply content-[''] absolute z-[-99999] transition-all duration-400 right-0 bottom-0;
}
.button::before {
  background: #28282d;
}
.button::after {
  background: #ffffff15;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}